.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 10px;
  align-items: center;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 200px; /* Set the desired height for each row */
}

.grid-item img {
  height: 100%;
  width: auto;
  object-fit: contain;
}